main {
	display: block;
	max-width: 1920px;
	margin: 0 auto;
}

.section {
	position: relative;
}

.home-02 {
	background: #adc6df;
	background: linear-gradient(to bottom, #adc6df 0%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#adc6df', endColorstr='#ffffff', GradientType=0);

	&>img {
		position: absolute;
	}

	.container {
		padding-top: 100px;
		padding-bottom: 100px;

		&>.title {
			position: relative;
			text-align: center;
			font-size: 130px;
			line-height: 110px;
			font-weight: 800;
			position: relative;
			color: white;
		}
	}

	.box {
		padding: 100px 0;

		&>.title {
			font-weight: 800;
			font-size: 36px;
			line-height: 1;
			margin-bottom: 0.7em;
			color: #475693;
		}

		&>.abstract {
			color: #1e2849;
		}

		& .btn--primary {
			color: #475693;
			border-color: #475693;
		}
	}
}

.threejs {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1;
	pointer-events: none;
}

img {
	max-width: 100%;
}

[model] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	// background: rgba(255, 0, 0, 0.2);
}


[title] {

	.word,
	.char {
		display: inline-block;
	}
}
